@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-brand-900 bg-brand-50 selection:bg-brand-100;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom minimal scrollbar matching Notion/Linear spaces */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    @apply bg-brand-100 rounded-full hover:bg-brand-500/20 transition-colors;
  }
}